*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.brand-logo span{
  display: flex;
  gap:15px;
}

.content{min-height: calc(100vh - 114px);padding:1.5rem 0}
footer{
  padding-top: 0;
}
.movies_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.about_movie_{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
